<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header bg-success text-light">
          Author: {{user.username}}
        </div>
        <div class="card-body bg-dark-subtle">
          <h5 class="card-title" id="title">{{title}}</h5>
          <p class="card-text" id="content">{{content}}</p>
          {{#if user.id}}
          <a href="/api/users/{{id}}" class="btn btn-outline-success p-2 m-2 text-dark">Update</a>
          {{/if}}
        </div>
        <div class="card-footer text-body-secondary">
          Created: {{createdAt}}
        </div>
        {{> comment}}
      </div>
    </div>
  </div>
</div>