{{> nav}}
{{#each blogPosts}}
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body bg-dark-subtle">
          <h5 class="card-title" id="title">{{this.title}}</h5>
          <p class="card-text" id="content">{{this.content}}</p>
          <a href="/api/users/{{this.id}}" class="btn btn-outline-success p-2 m-2 text-dark">Update</a>
          <h5 class="card-text" id="comHeader">Comments:</h5>
          <ul>
            {{#each this.comments as |comment|}}
            <li>{{content}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="card-footer text-body-secondary">
          Created: {{this.createdAt}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{>form}}

{{!-- <div class="container d-flex justify-content-center">
<a href="/api/users/" class="btn btn-outline-success p-2 m-2 text-dark justify-content-center">New Post</a>
</div> --}}